/build/classes/java/test/life/core/model/CODONTest$1.class
/build/classes/java/test/life/core/model/CODONTest.class
/build/reports/tests/test/classes/life.core.model.CODONTest.html
/build/reports/tests/test/packages/life.core.model.html
/build/test-results/test/TEST-life.core.model.CODONTest.xml
